<style>
    .panel-success > .panel-heading {
        color: #428bca;
        background-color: lightblue;
    }

    .panel-success{
        border-color:#ddd;
    }

    .col-md-12{
        font-size: 16px;
        margin: 3px auto;
    }

</style>

<!--农药信息模块-->
<h3 class="sub-header">农药信息</h3>

<!--table field-->
<div>
    <table id="pesticide-info" class="table-control" data-show-refresh="true" data-search="true"
           data-pagination="true">
    </table>
</div>

<!--pesticides showing field-->
<div id="pesticides-showing">

</div>

<script src="../templates/modules/pesticides-information/pesticides-info.js"></script>
