
<style>
    .panel-success > .panel-heading {
        color: #428bca;
        background-color: lightblue;
    }

    .panel-success{
        border-color:#ddd;
    }

    .col-md-12{
        font-size: 16px;
        margin: 3px auto;
    }

</style>
<!--农作物信息模块-->
<h3 class="sub-header">农作物信息</h3>

<!--table field-->
<div>
    <table id="crops-info" class="table-control" data-show-refresh="true" data-search="true">
    </table>
</div>


<!--crops showing field-->
<div id="crops-showing">

</div>




<script src="../templates/modules/crops-information/crops-info.js"></script>
